/* 行为相关颜色 */
@less-color-primary: #007aff;
@less-color-success: #4cd964;
@less-color-warning: #f0ad4e;
@less-color-error: #dd524d;

// 文字基本颜色
@less-text-color: #333; //基本颜色
@less-text-color-inverse: #fff; //反色
@less-text-color-grey: #999; //灰色，主要起辅助提示作用
@less-text-color-placeholder: #808080;
@less-text-color-disable: #c0c0c0;

//背景颜色
@less-background-color: #ffffff;
@less-background-color-grey: #f8f8f8;
@less-background-color-hover: #f1f1f1;
@less-background-color-tip: #ff5d5b;
@less-background-color-mask:rgba(0 0 0 .4); //遮罩
@less-background-color-enable: #ffe431;
@less-background-color-disabled: #d4d4d6;

// 边框颜色
@less-border-color: #c8c7cc;

//尺寸变量

// 文字尺寸
@less-text-size-14: 0.28rem  /* 14/50 */;
@less-text-size-16: 0.32rem  /* 16/50 */;
@less-text-size-18:  0.36rem  /* 18/50 */;
@less-text-size-20: 0.4rem  /* 20/50 */;
@less-text-size-24: 0.48rem  /* 24/50 */;
@less-text-size-28: 0.56rem  /* 28/50 */;

//图片尺寸
@less-img-size-sm: 2.5rem;
@less-img-size-base: 3.25rem;
@less-img-size-lg: 5rem;

// 边框圆角
@less-border-radius-sm: .625rem;
@less-border-radius-base: 1.25rem;
@less-border-radius-lg: 2.5rem;
@less-border-radius-circle: 50%;

// 水平间距
@less-spacing-row-28: 0.56rem  /* 28/50 */;
@less-spacing-row-base: 2rem;
@less-spacing-row-lg: 3rem;

// 垂直间距
@less-spacing-col-sm: 1rem;
@less-spacing-col-base: 2rem;
@less-spacing-col-lg: 3rem;

// 透明度
@less-opacity-disabled: 0.3; // 组件禁用透明度

// 场景相关
@less-color-title: #2c405a; //文章标题颜色
@less-font-size-title: 2.5rem;
@less-color-subtitle: #555555; //二级标题颜色
@less-font-size-subtitle: 2.25rem;
@less-color-paragraph: #3f536e; //段落颜色
@less-font-size-paragraph: 1.875rem;
