/* @font-face {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 300;
    font-display: wrap;
    src: url(../font/Kanit/Kanit-Italic.ttf);
}
 */


/* 
@font-face {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 400;
    font-display: wrap;
    src: url(../font/Kanit/Kanit-Regular.ttf);
}

@font-face {
    font-family: "Kanit";
    font-style: normal;
    font-weight: 500;
    font-display: wrap;
    src: url(../font/Kanit/Kanit-Regular.ttf);
} */